* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: #f4f7fb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: #1e293b;
}

.container-page {
  width: min(1200px, 95%);
  margin: auto;
}